@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    background-color: #232946;
}


.links{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}


.links li{
    margin-left: 20px;
    list-style-type: none;
    font-family: 'Lexend', sans-serif;
}

.links li a{
    text-decoration: none;
    color: #fffffe;
}

.header{
    margin: 10px
}


.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-wrapper{
    display: grid;
    place-items: center;
}

.intro{
    color: #fffffe;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 60px;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .caption{
    margin-top: 10px;
    color: #b8c1ec;
    font-family: Lexend;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
  }

  @keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  