@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    background-color: #232946;
    margin: 0px;
    overflow: hidden;
}

html, body {
    margin: 0;
    height: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    background-color: transparent; 
    z-index: 999; 
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lexend', sans-serif;

}

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    display: block;
    width: 100%;
    height: 100%;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}


.links li, .links li a{
    list-style-type: none;
    text-decoration: none;
    color: #fffffe;
    padding: 3px;

}


.navbar-left{
    color:#fffffe;
    padding: 10px;
    margin-left: 20px;
}
.navbar-right{
    margin-right: 20px;

}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1; 
    text-align: center; 
    padding: 20px; 
}

.intro-wrapper{
    display: grid;
    place-items: center;
}

.intro{
    color: #fffffe;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 60px;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .caption{
    margin-top: 10px;
    color: #b8c1ec;
    font-family: Lexend;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
  }

  @keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  